@import 'mixin';
.hero {
  position: relative;
  &__bgc-block {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 632px;
    margin: 0 auto;
    .hero__line {
      font-size: 46px;
      font-weight: 600;
      letter-spacing: 0.46px;
    }
    .hero__subline {
      font-size: 46px;
      margin: 10px 0 20px;
      letter-spacing: 0.46px;
    }
    .hero__text {
      font-size: 14px;
      color: #555;
      line-height: 24px;
      text-align: center;
      margin: 0 50px 35px;
    }
    .hero__btn {
      &--gradient {
        width: 140px;
        height: 48px;
        @include btnGradient();
        margin-right: 36px;
      }
      &--light {
        width: 140px;
        height: 48px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-size: 15px;
        color: #9d60eb;
        border: 1px solid #9d60eb;
        cursor: pointer;
        background: #fff;
      }
    }
  }
  &__no-name {
    &__img {
      width: 100%;
      height: 384px;
      object-fit: contain;
      margin: 20px 0;
    }
    &__bottom {
      width: 100%;
      height: 90px;
      background: transparent linear-gradient(13deg, #ffffff 0%, #aad7ff 100%)
        0% 0% no-repeat padding-box;
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}
